.photo-container img {
  border-radius: 50%; 
  overflow: hidden; 
  margin-top: 40px;
  margin-left: 90px;
  width: 400px; 
  height: 400px; 
}



.summary-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary-label {
  font-weight: bold;
  margin-right: 10px; 
}

.lomba{
  width: 370px; 
  height: 207px; 
}

.card {
  transition: transform 0.5s ease;
}


.card:hover {
  transform: scale(1.05); 
}

/* mode gelap dan mode terang */
.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

.darkModeIcon,
.lightModeIcon {
    width: 20px;
    height: 20px;
}

